<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
	</head>
	<body>
		<% include sharedContent/menuBar.ejs %>
		<main>
			<h1>This is the about page</h1>
		</main>
	</body>
</html>
