<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<script src="../javascripts/about.js"></script>
	</head>
	<body>
		<% include sharedContent/menuBar.ejs %>
		<main>
			<h1>This is the about page</h1>

			<img src="../images/banner.png" width="100%" id="lightbox">
			<table>
				<thead>
					<tr>
						<th>Thing</th>
						<th>Another thing</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Alpha</td>
						<td>Beta</td>
					</tr>
				</tbody>
			</table>
		</main>
	</body>
</html>
