<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<script src="../javascripts/about.js"></script>
	<!--	<link rel="stylesheet" href="../stylesheets/about.css">-->
		<link rel="stylesheet" href="../stylesheets/products.css">
	</head>
	<body>
		<% include sharedContent/menuBar.ejs %>
		<main>
			<img src="../images/lb5.jpg" width="100%" id="lightbox">
			<article>
				<h1>3BZ ENERGY OIL AND GAS SERVICES LTD</h1>
				<p>We are in partnership with Oando Marketing Plc one of the seven major marketers of petroleum products distribution in Nigeria.</p>





			</article>

			<div class="flexContainer">
				<div class="column" id="productNavBar">
					<h1>OUR SERVICES</h1>
					<p>3BZ is committed company that deals in the retailing of petroleum product such as:</p>
					<ul>
						<li>PMS (commonly called petrol)</li>
						<li>AGO (commonly called diesel)</li>
						<li>DPK (commonly called kerosene)</li>
						<li>LPG (cooking gas)</li>
						<li>And lubricants which comprises of engine oil, gear oil, grease, brake fluid etc.</li>
					</ul>
				</div>


				<div class="column" id="productDescription">
					<h1>STAFF</h1>
					<dl>
						<dt>MD/CEO</dt>
						<dd>Owner and director of all activities of the company</dd>
						<dt>Manager operation</dt>
						<dd>Oversee and ensure the effective operations of all machinery in the company and other linkages that will ensure smooth operation of the company.</dd>
						<dt>Manager Admin</dt>
						<dd>Keep update of all records relating to the company and making use of it and available when needed.</dd>
						<dt>Supervisor</dt>
						<dd>The supervisor heads a department in the company and directs the attendants under his department.</dd>
					</dl>
				</div>
			</div>
		</main>
	</body>
</html>
