<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
	</head>
	<body>
		<header>
			<% include sharedContent/menuBar.ejs %>
			<link rel="stylesheet" href="../stylesheets/products.css">
		</header>

		<main>

			<img src="../images/car.jpeg"  class="imageCentre">

			<p class="wordCentre">At Auto Finesse car care we consider the car washing process is without a doubt one of the most important steps in the detailing process.
				 Not only does it prepare the foundation for all subsequent detailing treatments,
				 it also allows you to maintain the results of your work for a long time to come,
				  our car wash guide will show you step by step how to achieve the ultimate car wash.</p>
<div class="contactCent">
				  <h2>Contact us</h2>
				  <p>Phone: +2348022910017</p>
				  <p>Email: mathewbabalola@yahoo.com</p>
</div>
		</main>
	</body>
</html>
