<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
	</head>
	<body>
		<header>
			<% include sharedContent/menuBar.ejs %>
		</header>

		<main>
			car wash
		</main>
	</body>
</html>
