<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<link rel="stylesheet" href="../stylesheets/productSelection.css">
		<link rel="stylesheet" href="../stylesheets/products.css">
	</head>
	<body>
		<header>
			<% include sharedContent/menuBar.ejs %>
		</header>
		<main>
			<div id="nav">
				<h1>Order confirmed</h1>
				<p>Your reference Number is: 424242</p>
			</div>
		</main>
	</body>
</html>
