<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<link rel="stylesheet" href="../stylesheets/productSelection.css">
		<link rel="stylesheet" href="../stylesheets/products.css">
	</head>
	<body>
		<header class="center">
			<h1>3BZ</h1>
		</header>
		<main>
			<h1 class="center">Order confirmed</h1>
			<p class="center">Your reference Number is: 424242</p>
			<h2 class="center">Thank you for you order</h2>
			<div class="center">
				<a href="http://localhost:3000/">Return to homepage</a>
			</div>
		</main>
	</body>
</html>
