<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
			<link rel="stylesheet" href="../stylesheets/products.css">
	</head>
	<body>
		<header>
			<% include sharedContent/menuBar.ejs %>
		</header>

		<main>

			<img src="../images/gas.jpg" alt="" class="imageCentre" width="750">

			<p class="wordCentre">Once you've worked up a healthy appetite, take a break and grab a bite to eat at the beautiful Blackburn market. Or if you just like to unwind and meet up with friends we have cosy corners a plenty and a Costa where you can grab an afternoon coffee and a slice of cake of course.</p>

<p class="wordCentre"><a href="../pages/productSelection">Buy here</a></p>
	<div class="contactCent">
				  <h2>Contact us</h2>
				  <p>Phone: +2348022910017</p>
				  <p>Email: mathewbabalola@yahoo.com</p>
	</div>
		</main>
	</body>
</html>
