<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
	</head>
	<body>
		<header>
			<% include sharedContent/menuBar.ejs %>
		</header>

		<main>
			Cylinder refils
			<img src="../images/refil.jpg" alt="">
			<a href="../pages/productSelection">Buy here</a>
		</main>
	</body>
</html>
