<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<link rel="stylesheet" href="../stylesheets/products.css">
	</head>
	<body>
		<% include sharedContent/menuBar.ejs %>
		<main>
			<div class="flexContainer">
				<% include sharedContent/productList.ejs %>

				<div class="column" id="productDescription">
				<h1>Automotive Gas Oil (Diesel)</h1>

				<p>Also known as diesel, automotive gas oil is ideal for road vehicles (trucks, buses, vans, and cars) powered by diesel engines. It can also be used to power generators.</p>
				<p>The product is marketed by the Oando Marketing retail unit though its over 300 service stations and to industrial customers through the commercial business unit.</p>
				<p>For detailed information on our AGO, please contact</p>

				<address>
					<p><strong>Head Retail Sales</strong><br>
					Oando Marketing<br>
					8 Kayode Street,<br>
					Apapa,<br>
					Lagos.<br>
					<strong>Phone:</strong> + 234 (1) 2601290 – 9 ext 6239</p>
				</address>
			</div>
		</main>
	</body>
</html>
