<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
	</head>
	<body>
		<header>
			<img src="images/banner.png" alt="">
			<% include sharedContent/menuBar.ejs %>
		</header>

		<main>
		</main>
	</body>
</html>
