<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<!-- header font -->
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' href='/stylesheets/layout.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<header>
			<h1>3BZ</h1>
			<p>We make the difference</p>
			<ul id="nav">
				<li>
					<a href="#"><img src="" alt="Home"></a>
				</li>
				<li>
					<a href="#">About</a>
					<ul>
						<li><a href="#">The product</a></li>
						<li><a href="#">Meet the team</a></li>
					</ul>
				</li>

				<li>
					<a href="#">Services</a>
					<ul>
						<li><a href="#">Car wash</a></li>
						<li><a href="#">Shopping</a></li>
						<li><a href="#">Tire fitting & inflation</a></li>
						<li><a href="#">Gas cylinder refilling</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Product</a>
					<ul>
						<li>Petrol</li>
						<li>Diesel</li>
						<li>Engine oil</li>
						<li>Gas cylinder</li>
					</ul>
				</li>
				<li>
					<a href="#">Contact</a>
					<ul>
						<li><a href="#">Out-of-hours</a></li>
						<li><a href="#">Directions</a></li>
					</ul>
				</li>
				<li><input type="search" name="searchBox" placeholder="Search here"></li>
				<li>Log in</li>
				<li>Register</li>
			</ul>
		</header>

		<main>

		</main>
	</body>
</html>
