<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<link rel="stylesheet" href="../stylesheets/products.css">
	</head>
	<body>
		<% include sharedContent/menuBar.ejs %>
		<main>
			<div class="flexContainer">
				<% include sharedContent/productList.ejs %>

				<div class="column" id="productDescription">
				<h1>Kerosene</h1>

				<p>Kerosene is a very versatile product. When in a very pure state and is used to power jet-engined aircraft (jet-fuel) and some rockets, it is known as Aviaition Turbine Kerosene (ATK). When it is used as a domestic fuel for lamps, stoves, cookers, and the likes, it is known as Household Kerosene (HHK). When the product can be adapted for use for both purposes, it is known as Dual Purpose Kerosene. (DPK).</p>
				<p>Oando Marketing offers this product to its numerous customers nationwide through its over 600 retail stations or its 3 Aviation depots</p>
				<p><em>We look forward to serving you.</em></p>
				<p>For detailed information on our Kerosene, please contact</p>
				<address>
					<p><strong>Head Retail Sales</strong><br>
					Oando Marketing,<br>
					8 Kayode Street,<br>
					Apapa,<br>
					Lagos, Nigeria.<br>
					<strong>Phone:</strong> + 234 (1) 2601290 – 9 ext 6239</p>
				</address>
			</div>
		</main>
	</body>
</html>
