<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<script src="../javascripts/login.js"></script>
		<link rel="stylesheet" href="../stylesheets/login.css">
	</head>
	<body>
		<% include sharedContent/menuBar.ejs %>
		<main>
			<div class="flexContainer">
				<div class="column">
					<h1>Log in</h1>
					<form id="loginForm">
						<input type="text" name="userName" placeholder="Username">
						<input type="password" name="password" placeholder="Password">
						<button type="submit" name="submit">Log in</button>
						<p id="loginStatus" class="status"></p>
						<div id="passwordReset">
							<p>
								Forgotten password?
							</p>
							<p>
								<a href="#">Click here</a>
							</p>
						</div>

						<section>
							<h1>Log in with these accounts</h1>
							<a href="#"><img src="../images/google.jpg" width="50px" alt="Google"></a>
							<a href="#"><img src="../images/facebook.png" width="50px" alt="Facebook"></a>
							<a href="#"><img src="../images/twitter.png" width="50px" alt="Twitter"></a>
						</section>
					</form>
				</div>

				<div class="column">
					<h1>Create an account</h1>
					<form id="registrationForm">
						<input type="text" name="userName" placeholder="Username">
						<input type="email" name="email" placeholder="email">
						<input type="text" name="fName" placeholder="First name">
						<input type="text" name="lName" placeholder="Last name">
						<input type="tel" name="phone" placeholder="Phone">
						<input type="password" id="password" name="password" placeholder="Password">
						<input type="password" id="password2" name="passwordCheck" placeholder="Re-enter your Password">
						<p id="regStatus" class="status">status</p>
						<button type="submit" name="Register">Register</button>
					</form>
				</div>
			</div>
		</main>
	</body>
</html>
