<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<link rel="stylesheet" href="../stylesheets/products.css">
	</head>
	<body>
		<% include sharedContent/menuBar.ejs %>

		<main>
			<div class="flexContainer">
				<% include sharedContent/productList.ejs %>

				<div class="column" id="productDescription">
				<h1>Engine Oil</h1>
				<h2>APPLICATIONS</h2>
				<ul>
					<li>
						Oleum XL  is  ideal  for  use  in  petrol,  diesel  and  turbocharged  passenger  cars;  four  wheel  drive  vehicles,  light  vans, jeeps and pick-ups, including those using the most advanced modern technology.
					</li>
					<li>
						It  is  formulated  to  meet  the  requirement  of  SH/CF  service  classification  and  this  specification  reflects  the  latest development in engine technology, which includes higher engine speeds, increased power, multivalves, fuel injection and turbo charging.
					</li>
				</ul>

				<h2>PRODUCT BENEFITS</h2>
				<ul>
					<li>
						The multigrade quality imparts superior viscosity-temperature properties ensuring good cold starting of engines and excellent  lubrication  at  high  temperatures.  It  gives  an  optimum  trouble-free  performance  both  in  the  severe  driving condition of urban traffic and on the highway.
					</li>
					<li>
						The detergent-dispersant quality suppresses sludge and varnish deposition at both and low temperatures and keeps engine clean.
					</li>
					<li>
						It has excellent anti-wear, anti-corrosion and anti-rust protection and minimizes piston–ring wear. The high alkalinity content  provides  added  protection  against  corrosive  wear  and  rust  formation  by  neutralizing  the  acidic  by-products  of combustion.
					</li>
					<li>
						It has excellent polymer shear strength ensuring the oil viscosity is maintained over a long service life, which makes this oil suitable for long drain intervals.
					</li>
					<li>
						It has exceptional anti-oxidation properties and resists oil oxidation and thickening in high temperature conditions.
					</li>
					<li>
						It has excellent chemical stability and prevents piston ring sticking.
					</li>
					<li>
						It is perfectly compatible with synthetic rubbers used for oil seals.
					</li>
					<li>
						Oleum  XL  is  formulated  to  minimize  fuel  and  oil  consumption  throughout  the  year.  It  is  the  most  cost-effective approach to crankcase lubrication.
					</li>
				</ul>
			</div>
		</main>
	</body>
</html>
