<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Payment</title>
		<script src="../javascripts/payment.js"></script>
	</head>
	<body>
		Payment complete. Redirecting to confirmation page.
	</body>
</html>
