<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<script src="../javascripts/about.js"></script>
		<link rel="stylesheet" href="../stylesheets/products.css">
	</head>
	<body>
		<img src="../images/banner.png" width="100%" id="lightbox">
		<% include sharedContent/menuBar.ejs %>
		<main>
			<div class="flexContainer">
				<% include sharedContent/productList.ejs %>

				<div class="column" id="productDescription">
				<h1>Petrol</h1>

				<p>Oando Marketing is the leading petroleum marketing company in Nigeria with over 300 retail stations across the country. It supplements the Government importation by importing products. With this and its currently expanded storage capability it is capable of supplying PMS even in times of scarcity.</p>
				<p>We look forward to serving you.</p>
				<p>For more information, contact;</p>
				<address>
					<p><strong>Head Retail Sales</strong><br>
					Oando Marketing,</p>
					<p>8 Kayode Street,</p>
					<p>Apapa,</p>
					<p>Lagos, Nigeria</p>
					<p><strong>Phone:</strong> + 234 (1) 2601290 – 9 ext 6239</p>
				</address>
			</div>
		</main>
	</body>
</html>
