<!DOCTYPE html>
<html>
	<head>
		<% include sharedContent/head.ejs %>
		<script src="../javascripts/about.js"></script>
		<link rel="stylesheet" href="../stylesheets/products.css">
	</head>
	<body>
		<% include sharedContent/menuBar.ejs %>
		<main>
			<img src="../images/banner.png" width="100%" id="lightbox">
			<div class="flexContainer">
				<% include sharedContent/productList.ejs %>

				<div class="column">
					<h1>Products</h1>
					<p>Oando Marketing offers customers a wide range of petroleum products and services that are;</p>
						<ul>
							<li><strong>Cost effective</strong></li>
							<li><strong>Operationally convenient</strong></li>
							<li><strong>Blended to the best quality</strong></li>
							<li><strong>Delivered with the best after sales support</strong></li>
						</ul>
					<p>The range of products offered by Oando Marketing include:</p>

					<ul>
						<li><a href="http://www.oandoplc.com/oando-marketing/products/premium-motor-spirits/">Premium Motor Spirit (Petrol)</a></li>
						<li><a href="http://www.oandoplc.com/oando-marketing/products/lubricants/">Lubricants</a></li>
						<li><a href="http://www.oandoplc.com/oando-marketing/products/cooking-gas-lpg/">Cooking Gas [LPG]</a></li>
						<li><a href="http://www.oandoplc.com/oando-marketing/products/kerosene/">Kerosene</a></li>
						<li><a href="http://www.oandoplc.com/oando-marketing/products/automotive-gas-oil/">Automotive Gas Oil (Diesel)</a></li>
					</ul>
				</div>
			</div>
		</main>
	</body>
</html>
