html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.center{
	margin: 0 auto;
	width: -moz-fit-content;
	width: fit-content;
}

#nav{
	list-style:none;
	margin: 0 auto;
	width: -moz-fit-content;
	width: fit-content;
}
#nav li{
    float:left;
}
/*--- DROPDOWN ---*/
#nav ul{
    list-style:none;
    position:absolute; /* This prevents top level menu items moving on hover*/
	display: none;
}

#nav ul li{
    float:none;
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
	display: block;
}

header img{
	width: 100%;
}

main {
	clear: left;
}
