.status {
	display: none;
}

.valid {
	display: block;
	background-color: green;
}

.invalid {
	display: block;
	background-color: red;
}

main {
	background-image: url("http://brfuae.com/modules/homeslider/images/ceff5c46c414f8fdd369f142ddaa04bf76981189_Car%20Oil.jpg");
	/*background-clip: border-box;*/
	background-size: cover;
	/*background-size: contain;*/
}

form {
	padding: 0.5em;
}

main input, button{
	display: block;
	font-size: 0.75em;
	border: 5px solid white;
	border-radius: 20px;
	padding: 0.25em 0.5em;
	transition: box-shadow 0.3s, border 0.3s;
	border: solid 1px #dcdcdc;
	margin: 1em;

}

input:focus {
	box-shadow: 0 0 5px 1px #969696;
	border: solid 1px #707070;
}

#passwordReset p a{
	background-color: #18197b;
	border-radius: 40px;
	padding: -0.14em;

	color: #ddbf1d;
	text-decoration: none;
}
