.flexContainer{
	display: flex;
	flex-wrap: wrap;
}

.column{
	border: 1px solid black;
	min-width: 300px;
	margin: 0.5em;
	padding: 0.5em;
	border-radius: 0.5em;
	background-color: #f0dc6f;
}

#productNavBar{
	width: 15%;
}

#productDescription{
	width: 65%;
}

h1 {
	font-variant: small-caps;
	font-size: 2em;
	margin: 1em;

}

li {
	list-style-position: inside;
	padding-left: 1em;
}

address{
	font-style: italic;
}

p {
	margin: 1em;
}
