#kerosene{
	background-color: green;
}

#petrol{
	background-color: yellow;
}

#diesel{
	background-color: blue;
}

#lubricants{
	background-color: purple;
}

.cost::before, #totalCost::before{
	content: '₦'
}
