body {
	font: 1.5em "Source Sans Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
}

header h1 {
	font: 10em monospace;
	font-variant: small-caps;
	color: black;
	font: 400 130px/2.75 'Great Vibes', Helvetica, sans-serif;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

header p{
	position: relative;
	font-family: 'Great Vibes';
	font-size: 2em;
	top: -0.6em;
	left: 6em;

}

#nav li:hover ul{
	box-shadow: 10px 5px 5px black;
}

#nav ul a:hover{
	box-shadow: 10px 5px 5px blue;
}

#nav li{
	padding: 0.5em;
}

#nav li li{
	background: #000;
}

#nav li a{
	text-decoration:none;
	font-weight: bold;
}

#nav input {
	font-size: 0.7em;
}

td, th {
	border: 1px solid #999;
	padding: 0.5rem;
}
