body {
	font: 1.5em "Source Sans Pro", "Lucida Grande", Helvetica, Arial, sans-serif;
}

.motto{
	font-family: 'Great Vibes';
	font-size: 2em;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

svg text{
	font-family: 'Great Vibes';
	font-size: 3em;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

#nav li:hover ul{
	box-shadow: 10px 5px 5px black;
}

#nav ul a:hover{
	box-shadow: 10px 5px 5px blue;
}

#nav li{
	padding: 0.5em;
}

#nav li li{
	background: #000;
}

#nav li a{
	text-decoration:none;
	font-weight: bold;
	font-size: 1.25em;
}

#nav input {
	font-size: 0.7em;
}

td, th {
	border: 1px solid #999;
	padding: 0.5rem;
}

input[type=search] {
	height: 3em;
	position: absolute;
	top: 5em;
	padding: 0.5em;
	width: 50%;
	margin: 0 10em;
}
