<title><%= title %></title>
<!-- header font -->
<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/stylesheets/layout.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
<script src="/javascripts/menubar.js"></script>
<script src="/javascripts/lightbox.js"></script>
