<div>
	<!-- <img src="../images/banner.png" class="logo" alt=""> -->
	<svg width="297" height="159" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
		<ellipse ry="50" rx="130" id="svg_1" cy="85" cx="148" stroke-width="5" stroke="#000000" fill="#d62222"/>
		<text   text-anchor="middle" y="110" x="120" stroke="#000000" fill="#000000">3BZ</text>
	</svg>
	<input type="search" name="searchBox" placeholder="Search here">
</div>
<ul id="nav" class="center">
	<li>
		<a href="../pages/about">About</a>
	<!--	<ul>
			<li><a href="#">The product</a></li>
			<li><a href="#">Meet the team</a></li>
		</ul>-->
	</li>

	<li>
		<a href="#">Services</a>
		<ul>
			<li><a href="../pages/carWash">Car wash</a></li>
			<li><a href="../pages/shopping">Shopping</a></li>
			<li><a href="../pages/tires">Tire fitting & inflation</a></li>
			<li><a href="../pages/cylinderRefil">Gas cylinder refilling</a></li>
		</ul>
	</li>
	<li>
		<a href="../pages/products">Products</a>
		<ul>
			<a href="../pages/petrol"><li>Petrol</li>
			<a href="../pages/diesel"><li>Diesel</li>
			<a href="../pages/kerosene"><li>Kerosene</li>
			<a href="../pages/lubricants"><li>Lubricants</li>
		</ul>
	</li>
	<li>
		<a href="../pages/productSelection"><span title="Add to basket" class="fa fa-shopping-basket"></span></a>
	</li>
	<li>
		<a href="#">Contact</a>
		<ul>
			<li><a href=../pages/contact>Out-of-hours</a></li>

		</ul>
	</li>
	<li><a href="../pages/login" id="user">My account</a></li>
</ul>

<div class="motto">
	<p>Adding fuel to the fire</p>
</div>
<img src="../images/lb5.jpg" width="100%" id="lightbox">
