<ul id="nav">
	<li>
		<a href="http://localhost:3000/"><img src="" alt="Home"></a>
	</li>
	<li>
		<a href="../pages/about">About</a>
		<ul>
			<li><a href="#">The product</a></li>
			<li><a href="#">Meet the team</a></li>
		</ul>
	</li>

	<li>
		<a href="#">Services</a>
		<ul>
			<li><a href="../pages/carWash">Car wash</a></li>
			<li><a href="../pages/shopping">Shopping</a></li>
			<li><a href="../pages/tires">Tire fitting & inflation</a></li>
			<li><a href="../pages/cylinderRefil">Gas cylinder refilling</a></li>
		</ul>
	</li>
	<li>
		<a href="../pages/productSelection">Products</a>
		<ul>
			<li>Petrol</li>
			<li>Diesel</li>
			<li>Kerosene</li>
			<li>Engine oil</li>
			<li>Gas cylinder</li>
		</ul>
	</li>
	<li>
		<a href="#">Contact</a>
		<ul>
			<li><a href="#">Out-of-hours</a></li>
			<li><a href="#">Directions</a></li>
		</ul>
	</li>
	<li><input type="search" name="searchBox" placeholder="Search here"></li>
	<li><a href="../pages/login" id="user">Log in</a></li>
	<li id="register">Register</li>
</ul>
