<div class="column" id="productNavBar">
	<a href="../pages/products">Products</a>
	<ul>
		<a href="../pages/petrol"><li>Petrol</li>
		<a href="../pages/diesel"><li>Diesel</li>
		<a href="../pages/kerosene"><li>Kerosene</li>
		<a href="../pages/lubricants"><li>Lubricants</li>
	</ul>
	<a href="../pages/productSelection">Place Order</a>
	<a href="../pages/checkout">Checkout</a>
</div>
